body {
  margin: 30px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 50px;
  margin: 40px 0 30px;
  color: #aaa;
}

#dataLoader {
  display: none;
}

h5 {
  font-size: 16px;
  line-height: 30px;
  padding-left: 15px;
  margin: 0;
}

.src {
  width: 100%;
  height: 2em;
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: none repeat scroll 0% 0% #eee;
  border-top: 1px solid #eee;
}

.dst {
  width: 100%;
  padding-bottom: 20px;
}

.credits {
  padding-top: 35px;
  text-align: center;
  font-size: 0.8em;
}

.src .CodeMirror {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

.CodeMirror-scroll {
  height: 225px;
  line-height: 1.2;
}

.cm-s-default span.cm-comment {color: #baa;}

.src .editor-links,
.src h5,
.src .editor-actions {
  width: 30%;
  display: inline-block;
}

.src .editor-links span {
  cursor: pointer;
}

.src .editor-links input {
  width: 65%;
}

.embed {
  display: none;
}

.embed-open .embed {
  display: inline-block;
}

.embed-open .no-embed {
  display: none;
}

.src .editor-links {
  text-align: center;
}

.src .editor-actions {
  text-align: right;
}

.editor-open .src {
  height: 250px;
}

.close-editor,
.editor-open .open-editor {
  display: none;
}

.open-editor,
.editor-open .close-editor {
  display: block;
  cursor: pointer;
}

.editor-open .dst {
  padding-bottom: 250px;
}


// TCC1
.tcc-1 {
  display: block;
}

.tcc-1  h1 {
  text-align: center;
  font-size: 25px;
}

.tcc-1 h2 {
  text-align: center;
  font-size: 20px;
  color: #e0e0e0;
}

.tcc-1 p.versioning {
  font-size: 10px;
  text-align: right;
  padding-right: 100px;
}

.tcc-1 *,
.tcc-1 *:after,
.tcc-1 *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.tcc-1 .tc-head,
.tcc-1 .tc-body,
.tcc-1 .tc-bottomline {
  display: flex;
  min-height: 100vh;
  min-width: 960px;
}

.tcc-1 .tc-area-a,
.tcc-1 .tc-area-b {
  border-left: solid 1px #eee;
  overflow-y: scroll;
  padding: 10px;
  flex-grow: 1;
}

.tcc-1 .tc-area-a {
  position: relative;
  flex-basis: 24vw;
}

.tcc-1 .tc-area-b {
  height: 18em;
  width: 49%;
}

.tcc-1 .tc-body,
.tcc-1 .tc-bottomline{
  border: 1px solid #eee;
}
.tcc-1 .tc-body {
  border-bottom: none;
}

.tcc-1 h3 {
  margin: 0.2em;
  color: #999;
}

.tcc-1 .solution .primary,
.tcc-1 .impact .primary,
.tcc-1 .for .primary {
  max-height: 16em;
  overflow-y: scroll;
}

.tcc-1 .secondary {
  font-size: 0.8em;
  bottom: 10px;
  position: absolute;
  height: 10em;
}


.tcc-1 .tc-area-a:first-child,
.tcc-1 .tc-area-b:first-child {
  border-left: none;
}


.tcc-1 ul {
  margin: 0;
  list-style: none;
  padding: 0;

}

.tcc-1 .primary li {
  margin: 0px 0px 15px;
  padding: 0px;
  line-height: 1.5em;
  border-top: 1px dashed #EEE;
  padding-top: 4px;
}

.tcc-1 .secondary li {
  padding: 3px;
  display: inline-block;
  border: 1px dashed #eee;
  margin: 2px;
}


// LSC
.lsc-1 {
  display: block;
}

.lsc-1  h1 {
  text-align: center;
  font-size: 25px;
}

.lsc-1 h2 {
  text-align: center;
  font-size: 20px;
  color: #e0e0e0;
}

.lsc-1 p.versioning {
  font-size: 10px;
  text-align: right;
  padding-right: 100px;
}

.lsc-1 *,
.lsc-1 *:after,
.lsc-1 *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.lsc-1 .tc-head,
.lsc-1 .tc-body,
.lsc-1 .tc-bottomline {
  display: block;
  height: 100%;
  width: 100%;
}

.lsc-1 .tc-area-a,
.lsc-1 .tc-area-c,
.lsc-1 .tc-area-a-f,
.lsc-1 .tc-area-b {
  display: inline-block;
  vertical-align: top;
  border-left: solid 1px #eee;
  overflow-y: scroll;
  padding: 10px;
}

.lsc-1 .tc-area-a {
  height: 30em;
  width: 19.5%;
  position: relative;
}

.lsc-1 .tc-area-a-f {
  height: 30em;
  width: 19.5%;
  padding: 0;
}

.lsc-1 .tc-area-b {
  height: 15em;
}

.lsc-1 .metrics,
.lsc-1 .channels {
  border: none;
  border-top: solid 1px #eee;
  width: 100%;
}


.lsc-1 .tc-area-c {
  height: 15em;
  width: 49.5%;
}

.lsc-1 .tc-body,
.lsc-1 .tc-bottomline{
  border: 1px solid #eee;
}
.lsc-1 .tc-body {
  border-bottom: none;
}

.lsc-1 h3 {
  margin: 0.2em;
  color: #999;
}

.lsc-1 .solution .primary,
.lsc-1 .impact .primary,
.lsc-1 .for .primary {
  max-height: 16em;
  overflow-y: scroll;
}

.lsc-1 .secondary {
  font-size: 0.8em;
  bottom: 10px;
  position: absolute;
  height: 10em;
}


.lsc-1 .tc-area-a:first-child,
.lsc-1 .tc-area-b:first-child {
  border-left: none;
}


.lsc-1 ul {
  margin: 0;
  list-style: none;
  padding: 0;

}

.lsc-1 .primary li {
  margin: 0px 0px 15px;
  padding: 0px;
  line-height: 1.5em;
  border-top: 1px dashed #EEE;
  padding-top: 4px;
}

.lsc-1 .secondary li {
  padding: 3px;
  display: inline-block;
  border: 1px dashed #eee;
  margin: 2px;
}


// BMC
.bmc-1 {
  display: block;
}

.bmc-1  h1 {
  text-align: center;
  font-size: 25px;
}

.bmc-1 h2 {
  text-align: center;
  font-size: 20px;
  color: #e0e0e0;
}

.bmc-1 p.versioning {
  font-size: 10px;
  text-align: right;
  padding-right: 100px;
}

.bmc-1 *,
.bmc-1 *:after,
.bmc-1 *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.bmc-1 .tc-head,
.bmc-1 .tc-body,
.bmc-1 .tc-bottomline {
  display: block;
  height: 100%;
  width: 100%;
}

.bmc-1 .tc-area-a,
.bmc-1 .tc-area-c,
.bmc-1 .tc-area-a-f,
.bmc-1 .tc-area-b {
  display: inline-block;
  vertical-align: top;
  border-left: solid 1px #eee;
  overflow-y: scroll;
  padding: 10px;
}

.bmc-1 .tc-area-a {
  height: 30em;
  width: 19.5%;
  position: relative;
}

.bmc-1 .tc-area-a-f {
  height: 30em;
  width: 19.5%;
  padding: 0;
}

.bmc-1 .tc-area-b {
  height: 15em;
}

.bmc-1 .metrics,
.bmc-1 .channels {
  border: none;
  border-top: solid 1px #eee;
  width: 100%;
}


.bmc-1 .tc-area-c {
  height: 15em;
  width: 49.5%;
}

.bmc-1 .tc-body,
.bmc-1 .tc-bottomline{
  border: 1px solid #eee;
}
.bmc-1 .tc-body {
  border-bottom: none;
}

.bmc-1 h3 {
  margin: 0.2em;
  color: #999;
}

.bmc-1 .solution .primary,
.bmc-1 .impact .primary,
.bmc-1 .for .primary {
  max-height: 16em;
  overflow-y: scroll;
}

.bmc-1 .secondary {
  font-size: 0.8em;
  bottom: 10px;
  position: absolute;
  height: 10em;
}


.bmc-1 .tc-area-a:first-child,
.bmc-1 .tc-area-b:first-child {
  border-left: none;
}


.bmc-1 ul {
  margin: 0;
  list-style: none;
  padding: 0;

}

.bmc-1 .primary li {
  margin: 0px 0px 15px;
  padding: 0px;
  line-height: 1.5em;
  border-top: 1px dashed #EEE;
  padding-top: 4px;
}

.bmc-1 .secondary li {
  padding: 3px;
  display: inline-block;
  border: 1px dashed #eee;
  margin: 2px;
}

// TCC2
.tcc-2 {
  display: block;
}

.tcc-2 .tc-row:after {
  display: table-cell;
  clear: both;
}

.tcc-2  h1 {
  text-align: center;
  font-size: 25px;
}

.tcc-2 h2 {
  text-align: center;
  font-size: 20px;
  color: #e0e0e0;
}

.tcc-2 p.versioning {
  font-size: 10px;
  text-align: right;
  padding-right: 100px;
}

.tcc-2 *,
.tcc-2 *:after,
.tcc-2 *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.tcc-2 .tc-head{
  display: block;
}

.tcc-2 .tc-body,
.tcc-2 .tc-bottomline {
  display: flex;
}

.tcc-2 .tc-area-a,
.tcc-2 .tc-area-b,
.tcc-2 .tc-area-c {
  border-left: solid 1px #eee;
  flex-basis: 24vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.tcc-2 .center-wrap {
  border-left: solid 1px #eee;
  display: flex;
  flex-wrap: wrap;
  -moz-box-pack: justify;
  flex-basis: 51vw;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0;
}


.tcc-2 .tc-area-b {
  margin: 0;
}

.tcc-2 .build {
  border-right: none;

}

.tcc-2 .purpose {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #eee;
  padding: 10px;
  position: relative;
}

.tcc-2 .tc-body,
.tcc-2 .tc-bottomline{
  border: 1px solid #eee;
}
.tcc-2 .tc-body {
  border-bottom: none;
}

.tcc-2 h3 {
  margin: 0.2em;
  color: #999;
}


.tcc-2 .primary {
  flex-grow: 2;
}


.tcc-2 .secondary {
  padding-top: 1em;
  font-size: 0.8em;
}

.tcc-2 .tc-area-a:first-child,
.tcc-2 .tc-area-b:first-child {
  border-left: none;
}


.tcc-2 ul {
  margin: 0;
  list-style: none;
  padding: 0;

}

.tcc-2 .primary li {
  margin: 0px 0px 15px;
  padding: 0px;
  line-height: 1.5em;
  border-top: 1px dashed #EEE;
  padding-top: 4px;
}

.tcc-2 .secondary li {
  padding: 3px;
  display: inline-block;
  border: 1px dashed #eee;
  margin: 2px;
}

.tcc-2 .eta {
  position: absolute;
  right: 5px;
  font-size: 0.8em;
  color: #aaa;
  border: 1px dashed #eee;
  padding: 5px 1em;
}

.in-frame .src,
.in-frame #embedlink,
.in-frame #permalink
 {
  display: none
}

.openModal {
  padding: 0 1em;
  font-size: 0.8em;
  color: #aaa;
  cursor: pointer;
}

.modalBoxWrap { /* The div that shows/hides. */
    display:none; /* starts out hidden */
    z-index:40001; /* High z-index to ensure it appears above all content */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modalBoxOverlay { /* Shades out background when selector is active */
    position:fixed;
    width:100%;
    height:100%;
    background-color:black;
    opacity:.5; /* Sets opacity so it's partly transparent */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE transparency */
    filter:alpha(opacity=50); /* More IE transparency */
    z-index:40001;
}

.vertical-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    top:30%;
    width:100%;
    z-index:40002; /* ensures box appears above overlay */
}

.modalBox { /* The actual box, centered in the fixed-position div */
    width:405px; /* Whatever width you want the box to be */
    position:relative;
    margin:0 auto;
    /* Everything below is just visual styling */
    background-color:white;
    padding:10px;
    border:1px solid black;
}

#ribbon a{background:green;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#ribbon a:hover{background:lightgreen;color:#fff;}#ribbon a::before,#ribbon a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#ribbon a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#ribbon{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#ribbon a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}
