body {
  margin: 30px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}
h1 {
  font-size: 50px;
  margin: 40px 0 30px;
  color: #aaa;
}
#permalink {
  float: right;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-left: 15px;
  margin: 0;
}

.src {
  width: 100%;
  height: 2em;
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: none repeat scroll 0% 0% #eee;
  border-top: 1px solid #eee;
}

.dst {
  width: 100%;
  padding-bottom: 20px;
}

.credits {
  padding-top: 35px;
  text-align: center;
  font-size: 0.8em;
}

.src .CodeMirror {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

.CodeMirror-scroll {
  height: 225px;
  line-height: 1.2;
}

.cm-s-default span.cm-comment {color: #baa;}


.editor-open .src {
  height: 250px;
}

.close-editor,
.editor-open .open-editor {
  display: none;
}

.open-editor,
.editor-open .close-editor {
  display: block;
  float: right;
  padding-right: 10px;
  line-height: 30px;
  cursor: pointer;
}

.editor-open .dst {
  padding-bottom: 250px;
}

.tc-canvas {
  display: block;
}

.tc-canvas  h1 {
  text-align: center;
  font-size: 25px;
}

.tc-canvas h2 {
  text-align: center;
  font-size: 20px;
  color: #e0e0e0;
}

.tc-canvas p.versioning {
  font-size: 10px;
  text-align: right;
}

.tc-canvas *,
.tc-canvas *:after,
.tc-canvas *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.tc-canvas .tc-head,
.tc-canvas .tc-body,
.tc-canvas .tc-bottomline {
  display: block;
  height: 100%;
  width: 100%;
}

.tc-canvas .tc-area-a,
.tc-canvas .tc-area-b {
  display: inline-block;
  vertical-align: top;
  border-left: solid 1px #eee;
  overflow-y: scroll;
  padding: 10px;
}

.tc-canvas .tc-area-a {
  height: 30em;
  width: 19.5%;
  position: relative;
}

.tc-canvas .tc-area-b {
  height: 18em;
  width: 49%;
}

.tc-canvas .tc-body,
.tc-canvas .tc-bottomline{
  border: 1px solid #eee;
}
.tc-canvas .tc-body {
  border-bottom: none;
}

.tc-canvas h3 {
  margin: 0.2em;
  color: #999;
}

.tc-canvas .solution .primary,
.tc-canvas .impact .primary,
.tc-canvas .for .primary {
  max-height: 16em;
  overflow-y: scroll;
}

.secondary {
  font-size: 0.8em;
  bottom: 10px;
  position: absolute;
  height: 10em;
}


.tc-canvas .tc-area-a:first-child,
.tc-canvas .tc-area-b:first-child {
  border-left: none;
}


.tc-canvas ul {
  margin: 0;
  list-style: none;
  padding: 0;

}

.tc-canvas .primary li {
  margin: 0px 0px 15px;
  padding: 0px;
  line-height: 1.5em;
  border-top: 1px dashed #EEE;
  padding-top: 4px;
}

.tc-canvas .secondary li {
  padding: 3px;
  display: inline-block;
  border: 1px dashed #eee;
  margin: 2px;
}
