body {
  margin: 30px;
  padding: 0;
  font-family: verdana, sans-serif; 
}
h1 {
  font-size: 50px;
  margin: 40px 0 30px;
  color: #aaa;
}
#permalink {
  float: right;
}
h5 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
  font-style: italic;
}
.src {
  width: 100%;
}
.dst {
  width: 100%;
}

.src .CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

.dst .CodeMirror {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  border-radius: 3px;
}

.CodeMirror-scroll {
  height: 500px;
  line-height: 1.2;
}

.cm-s-default span.cm-comment {color: #baa;}

.addthis_toolbox {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: .6;
}
.addthis_toolbox:hover {
  opacity: 1;
}

.gh-ribbon {
    -moz-transform: rotate(45deg);
    background-color: #686868;
    box-shadow: 0 0 2px rgba(102, 102, 102, 0.4);
    display: block;
    padding: 1px 0;
    position: fixed;
    right: -60px;
    top: 44px;
    width: 230px;
    z-index: 10000;
}
.gh-ribbon a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 700;
    outline: medium none;
    padding: 4px 50px 2px;
    text-align: center;
    text-decoration: none;
}
.csstransforms .gh-ribbon {
    display: block;
}

.tc-canvas {
  display: block;
}

.tc-canvas  h1 {
  text-align: center;
  font-size: 25px;
}

.tc-canvas h2 {
  text-align: center;
  font-size: 20px;
}

.tc-canvas p.versioning {
  font-size: 10px;
  text-align: right;
}

.tc-canvas *,
.tc-canvas *:after,
.tc-canvas *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.tc-canvas .tc-head,
.tc-canvas .tc-body,
.tc-canvas .tc-bottomline {
  display: block;
  height: 100%;
  width: 100%;
}

.tc-canvas .tc-area-a,
.tc-canvas .tc-area-b {
  display: inline-block;
  vertical-align: top;
  border-left: solid 1px;
  overflow-y: scroll;
  padding: 5px;
}

.tc-canvas .tc-area-a {
  height: 30em;
  width: 19.5%;
}

.tc-canvas .tc-area-b {
  height: 18em;
  width: 49%;
}

.tc-canvas .tc-body {
  border-bottom: 1px solid;
}


.tc-canvas .tc-area-a:first-child,
.tc-canvas .tc-area-b:first-child {
  border-left: none;
}


.tc-canvas ul {
  list-style: none;
  padding: 0;

}

.tc-canvas li {
  margin: 0 0 10px 0;
  padding: 0;
}


  height: 30em;